# SPDX-FileCopyrightText: 2024 Rice University
# SPDX-FileCopyrightText: 2024 Contributors to the HPCToolkit Project
#
# SPDX-License-Identifier: BSD-3-Clause

spack:
  view: false
  concretizer:
    unify: false
    reuse:
      roots: false
      from:
      - type: external
      - type: buildcache
    targets:
      granularity: generic
    duplicates:
      strategy: full

  definitions:
  - when: env.get("ENABLE_CUDA") != "1"
    hpct_cuda: [~cuda]
  - when: env.get("ENABLE_CUDA") == "1"
    hpct_cuda: [+cuda]

  specs:
  - matrix:
    - - hpctoolkit@{{VERSION}} build_system=meson
    - - ~viewer ~mpi +opencl ~rocm ~level_zero
    - - buildtype=release
    - [+papi, ~papi]
    - - $hpct_cuda
    exclude:
    - hpctoolkit +papi +cuda

  packages:
    all:
      require:
      - target=:x86_64_v3
      # FIXME: This is to avoid errors where Spack installs a gcc-runtime of older version, then
      # proceeds to mess up the RPATHs such that binaries find the older version instead of the
      # newer version. Forcing everything to compile with one compiler solves most of these issues.
      - '%gcc@11'

  mirrors:
    spack-release:
      url: https://binaries.spack.io/v0.22.0
      signed: true
      binary: true
      source: false
